## SQL запрос: ##

### Получите результирующее множество из БД в соответствии с заданными условиями выборки, сортировки, группировки данных. Создайте отчеты с агрегацией данных. ###
```sql
-- Вывести всех пользователей, которые имеют больше одного члена семьи
SELECT *
FROM insurance_final_rows
WHERE family_members > 1
```
```sql
-- Посчитать среднюю зарплату среди женщин (gender = false)
SELECT AVG(salary)
FROM insurance_final_rows
WHERE gender = false
```
```sql
-- Найти возраст самого молодого пользователя, который обращался за страховой выплатой хотя бы один раз
SELECT MIN(age)
FROM insurance_final_rows
WHERE insurance_appeal > 0
```
```sql
-- Найти пользователя с максимальным количеством обращений за страховой выплатой и вывести его user_id, возраст и количество обращений
SELECT user_id, age, insurance_appeal
FROM insurance_final_rows
WHERE insurance_appeal = (SELECT MAX(insurance_appeal) FROM insurance_final_rows);
```

## Python: ##

In [3]:
import pandas as pd

In [5]:
# Загружаем CSV в DataFrame
df = pd.read_csv('insurance_final_rows.csv')

In [16]:
# Находим пользователей с более чем одним членом семьи
users_more_than_one_family_member = df.loc[df['family_members'] > 1]
print("Пользователи с более чем 1 членом семьи:")
users_more_than_one_family_member

Пользователи с более чем 1 членом семьи:

      user_id  gender  age  salary  family_members  insurance_appeal
3           4   False   21   41700               2                 0
5           6    True   43   41000               2                 1
6           7    True   39   39700               2                 0
7           8    True   25   38600               4                 0
12         13   False   23   39500               3                 0
...       ...     ...  ...     ...             ...               ...
4983     4984   False   26   47800               2                 0
4991     4992   False   21   38300               3                 0
4995     4996   False   28   35700               2                 0
4997     4998   False   20   33900               2                 0
4998     4999    True   22   32700               3                 0

[1673 rows x 6 columns]

In [13]:
# Средняя зарплата среди женщин (gender == False)
avg_salary_women = df.loc[df['gender'] == False, 'salary'].mean()
f'Средняя зарплата среди женщин: {avg_salary_women:.2f}'

'Средняя зарплата среди женщин: 39769.06'

In [14]:
# Минимальный возраст среди обратившихся хотя бы один раз за страховкой
min_age_appealed = df.loc[df['insurance_appeal'] > 0, 'age'].min()
f"Возраст самого молодого пользователя с обращением: {min_age_appealed}"

'Возраст самого молодого пользователя с обращением: 42'

In [15]:
# Находим пользователя с максимальным количеством обращений за страховкой, выводим его user_id, возраст, кол-во обращений
max_appeals = df['insurance_appeal'].max()
user_max_appeals = df[df['insurance_appeal'] == max_appeals][['user_id', 'age', 'insurance_appeal']]
print("Пользователь с максимальным количеством обращений:")
user_max_appeals

Пользователь с максимальным количеством обращений:

     user_id  age  insurance_appeal
228      229   65                 5